* {
  margin: 0;
  padding: 0;
}

:root {
  /* background e Border */
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;

  /* text */
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  /* accent */
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}
body {
  font-family: "Open Sans", serif;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto;
}

img {
  border-radius: 28px;
}

.headline {
  color: var(--text-headline);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#title-page .headline {
  margin-bottom: 8px;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  margin-bottom: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

#description img {
  margin-bottom: 24px;
}

#description p {
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}

#div {
  border-bottom: 1px solid var(--border-primary);
  margin-bottom: 64px;
}

#title-list .headline {
  width: 255px;
  margin-bottom: 2px;
}

#title-list h2 {
  width: 683px;
  margin-bottom: 2px;
}
